section.information
    .information__container.container
        .information__wrapper
            h3.information__title.title.title--big Витрина интеллектуальной собственности
            p.information__desc Интеллектуальная собственность – это охраняемые права на результаты интеллектуальной деятельности.
            h2.property__subtitle.title.title--sub ЦПТИ осуществляет информационную поддержку в рамках регистрации и сопровождении РИД:
            ul.property__list
                li.property__item
                    h5.property__title Полезная модель
                    p.property__desc техническое решение, относящееся к устройству. Полезной модели предоставляется правовая охрана, если она является новой и промышленно применимой (ст. 1351 ГК РФ).
                li.property__item
                    h5.property__title Промышленный образец
                    p.property__desc решение внешнего вида изделия промышленного или кустарно-ремесленного производства. Промышленному образцу предоставляется правовая охрана, если по своим существенным признакам он является новым и оригинальным (ст. 1352 ГК РФ).

                li.property__item
                    h5.property__title Программа для ЭВМ
                    p.property__desc представленная в объективной форме совокупность данных и команд, предназначенных   для   функционирования  ЭВМ  и  других  компьютерных устройств  в целях  получения определенного   результата,   включая  подготовительные   материалы,   полученные   в   ходе  разработки программы для ЭВМ, и порождаемые ею аудиовизуальные отображения.  Авторские  права  на  все  виды программ для ЭВМ, которые могут быть выражены на любом языке и в любой форме, включая исходный текст  и   объектный   код,   охраняются   так   же,   как   авторские    права   на   произведения   литературы (ст. 1261 ГК РФ).
                li.property__item
                    h5.property__title Полезная модель
                    p.property__desc техническое решение, относящееся к устройству. Полезной модели предоставляется правовая охрана, если она является новой и промышленно применимой (ст. 1351 ГК РФ).
                li.property__item
                    h5.property__title Промышленный образец
                    p.property__desc решение внешнего вида изделия промышленного или кустарно-ремесленного производства. Промышленному образцу предоставляется правовая охрана, если по своим существенным признакам он является новым и оригинальным (ст. 1352 ГК РФ).
