section.information
    .information__container.container
        .commerce__wrapper
            h3.information__title.title.title--big Коммерциализация объектов интеллектуальной собственности
            p.commerce__desc Активная   патентно  -  лицензионная  деятельность  организации  (предприятия)  является важным фактором  повышения  ее  репутации , конкурентоспособности  и  устойчивости.
            p.commerce__subdesc Коммерциализация результатов интеллектуальной  деятельности  (РИД)  организации  фактически представляет собой инновационный  процесс, который начинается с момента создания или приобретения РИД и включает:
            ul.commerce__list
                li.commerce__item
                    svg(width="73" height="71")
                        use(href="#count")
                    h5.commerce__list-title Учет
                    p.commerce__list-desc инвентаризация,состаление Реестра ОИС
                li.commerce__item
                    svg(width="73" height="71")
                        use(href="#security")
                    h5.commerce__list-title Защита
                    p.commerce__list-desc получение патента или свидетельства, заключение договора о передаче прав
                li.commerce__item
                    svg(width="73" height="71")
                        use(href="#ab-marks")
                    h5.commerce__list-title Оценка
                    p.commerce__list-desc постановка РИД на бухгалтерский учет
                li.commerce__item
                    svg(width="73" height="71")
                        use(href="#license")
                    h5.commerce__list-title Распоряжение
                    p.commerce__list-desc использование или передача права на использование(договора отчеждения прав,лицензионные договора)
            ul.features__list
                li.features__item
                    span.features__num 1
                    p.features__desc
                        | Проведение НИР и НИОКР по приоритетным направлениям в рамках выполнения
                        | государственных контрактов, грантов и хоз.договоров;
                li.features__item
                    span.features__num 2
                    p.features__desc
                        | Использование в собственной учебной и научной деятельности, в том числе путем оказания услуг предприятиям на договорной основе;
                li.features__item
                    span.features__num 3
                    p.features__desc
                        | Создание малых инновационных предприятий по программам СТАРТ и УМНИК.
            article.commerce__article
                p.commerce__offset Создание малых инновационных предприятий (МИП) в  соответствии   с   Федеральными   законами №217 от 2 августа 2009 «О внесении  изменений  в  отдельные  законодательные   акты   Российской Федерации по  вопросам  создания  бюджетными  научными   и   образовательными   учреждениями хозяйственных      обществ     в     целях     практического     применения     (внедрения)     результатов интеллектуальной    деятельности»,    № 209-ФЗ    от   24.07.2007    «О    развитии   малого  и  среднего предпринимательства      в      Российской     Федерации»,      №127-ФЗ     от   23.08.1996    «О   науке   и государственной научно-технической политике» и ст. 103 Федерального закона от 29 декабря 2012 г.  N 273-ФЗ  «Об   образовании   в   Российской   Федерации».
                p.commerce__offset В  национальном  исследовательском  университете  БелГУ   коммерциализация   инновационных   разработок
    .information__bottom
        .information__container.container
            h2.commerce__sub.title.title--section Курсы ЦПТИ
            h3.commerce__sub.property__title Информация по курсам ФИПС  и  ВОИС   (Пропаганда   дистанционного   обучения   по   программам Всемирной Академии ВОИС  в регионе и привлечение к данному обучению местных пользователей)
            article.commerce__article
                p.commerce__offset Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                p.commerce__offset Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32
                p.commerce__offset Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.






