section.pages
    .container.pages__container
        h2.visually-hidden Список страниц
        ul.pages__list
            li.pages__item
                a(href='index.html').pages__link Главная
            li.pages__item
                a(href='information.html').pages__link Информация
            li.pages__item
                a(href='commerce.html').pages__link Коммерция
            li.pages__item
                a(href='property.html').pages__link Собственность
            li.pages__item
                a(href='registration.html').pages__link Регистрация
