block content
    header.header
        include ./components/header/_header.pug
    main.main
        include ./components/breadcrumbs/_breadcrumbs.pug
        include ./components/commerce/_commerce.pug
