block content
    header.header
        include ./components/header/_header.pug
    main.main
        include ./components/hero/_hero.pug
        include ./components/features/_features.pug
        include ./components/services/_services.pug
        