section.hero
    .hero__container.container
        .hero__wrapper
            h2.hero__title.title.title--secondary О ЦПТИ РГСУ
            p.hero__description Патентно-информационная поддержка от идеи до коммерциализации результатов интеллектуальной деятельности и средств индивидуали¬зации в инновационном развитии регионов Российской Федерации, формирование патентной культуры российского общества, сохранение суверенитета страны в области интеллектуальной собственности – все это ЦПТИ РГСУ