section.features
    .features__container.container
        .features__wrapper
            h3.features__title.title.title--section Центр поддержки технологий и инноваций создан для
            ul.features__list
                li.features__item
                    span.features__num 1
                    p.features__desc
                        | Повышения эффективности распространения знаний по вопросам правовой охраны и использования результатов интеллектуальной деятельности (РИД);
                li.features__item
                    span.features__num 2
                    p.features__desc
                        | Совместное с Федеральным институтом промышленной собственности (ФИПС) проведение комплекса мероприятий в области обеспечения изобретательской и инновационной деятельности;
                li.features__item
                    span.features__num 3
                    p.features__desc
                        | Популяризации вопросов, связанных с правовой охраной и использованием РИД и средств индивидуализации.