section.information
    .information__container.container
        .information__wrapper
            h3.information__title.title.title--big Информация
            p.information__desc Интеллектуальная собственность – это охраняемые права на результаты интеллектуальной деятельности.
            article.information__article
                p.information__article-paragraph
                    | Полезная модель – техническое решение, относящееся к устройству. Полезной модели предоставляется правовая охрана, если она является новой и промышленно применимой (ст. 1351 ГК РФ).
                p.information__article-paragraph
                    | Промышленный образец – решение внешнего вида изделия промышленного или кустарно-ремесленного производства. Промышленному образцу предоставляется правовая охрана, если по своим существенным признакам он является новым и оригинальным (ст. 1352 ГК РФ).
                p.information__article-paragraph
                    | Программа  для   ЭВМ  –    представленная   в   объективной   форме   совокупность    данных    и   команд, предназначенных   для   функционирования ЭВМ и  других  компьютерных устройств  в целях  получения определенного   результата,   включая  подготовительные   материалы,   полученные   в   ходе  разработки
                    | программы для ЭВМ, и порождаемые ею аудиовизуальные отображения.  Авторские  права  на  все  виды программ для ЭВМ, которые могут быть выражены на любом языке и в любой форме, включая исходный текст  и   объектный   код,   охраняются   так   же,   как   авторские    права   на   произведения литературы (ст. 1261 ГК РФ).
                p.information__article-paragraph
                    | Товарный  знак  –  обозначение,   служащее    для    индивидуализации   товаров   юридических   лиц   или индивидуальных    предпринимателей   (статья 1477 ГК РФ).  В  качестве   товарных   знаков   могут   быть
                    | зарегистрированы  словесные,  изобразительные,  объемные  и  другие  обозначения  или  их комбинации (ст. 1482 ГК РФ).
                p.information__article-paragraph
                    | Топология интегральной микросхемы – зафиксированное на материальном носителе пространственно  -  геометрическое расположение совокупности элементов интегральной микросхемы и связей между ними. При этом интегральной микросхемой является    микроэлектронное изделие окончательной или промежуточной формы, которое предназначено для выполнения функций электронной  схемы,  элементы и связи которого нераздельно сформированы в объеме и (или) на поверхности материала, на основе которого изготовлено такое изделие (ст. 1448 ГК РФ).
    .information__bottom
        .information__container.container
            .information__bottom-wrapper
                .information__col
                    h4.information__subtitle.title.title--sub Нормативные документы
                    ul.information__list
                        li.information__item
                            a(href="#").information__link Положение о Центре поддержки технологий и инноваций РГСУ
                        li.information__item
                            a(href="#").information__link Гражданский кодекс РФ. Часть 4
                        li.information__item
                            a(href="#").information__link Постановление Правительства РФ от 24 декабря 2007 №928  «О порядке проведения проверки наличия в заявках на выдачу патента на изобретение или полезную модель, созданные в РФ, сведений, составляющих государственную тайну»
                        li.information__item
                            a(href="#").information__link Административный регламент исполнения государственной функции продления срока действия патента
                        li.information__item
                            a(href="#").information__link Документы регламентирующие оформление документов для подачи заявок и т.д
                .information__col
                    h4.information__subtitle.title.title--sub Информационные ресурсы
                    ul.information__list
                        li.information__item
                            a(href="#").information__link Федеральная служба по интеллектуальной собственности (Роспатент)
                        li.information__item
                            a(href="#").information__link Федеральное государственное бюджетное учреждение «Федеральный институт промышленной собственности» (ФИПС)
                        li.information__item
                            a(href="#").information__link Отделение «Всероссийская патентно-техническая библиотека» (ВПТБ)
                        li.information__item
                            a(href="#").information__link Ссылки на сайты большинства патентных ведомств мира и на сайты международных организаций по интеллектуальной собственности
