section.services
    .services__container.container
        .services__wrapper
            h3.services__title.title.title--section Услуги центра поддержки технологий и инноваций
            p.services__desc ЦПТИ РГСУ помогает создавать объекты ИС и управлять правами на них, использовать свой творческий потенциал
        .services__wrapper
            ul.services__list
                li.services__item.services__item--help
                    svg(width='67' height='71')
                        use(href='#help') 
                    h5.services__title Помощь 
                    p.services__desc помощь в проведении поиска и получении технической информации
                li.services__item.services__item--learn
                    svg(width='67' height='71')
                        use(href='#learn') 
                    h5.services__title Обучение 
                    p.services__desc обучение по запросу (новизна, уровень техники и нарушение прав)
                li.services__item.services__item--acces
                    svg(width='67' height='71')
                        use(href='#acces') 
                    h5.services__title Доступ 
                    p.services__desc доступ к патентным и непатентным (научно-техническим) онлайн-ресурсам и публикациям по вопросам ИС
                li.services__item.services__item--consult
                    svg(width='67' height='71')
                        use(href='#consult') 
                    h5.services__title Консультации 
                    p.services__desc по вопросам оформления и подачи заявок и по действу- ющему   законодательсву  в области  интеллектуальной собственности 
                li.services__item.services__item--monitoring
                    svg(width='67' height='71')
                        use(href='#monitoring') 
                    h5.services__title Мониторинг 
                    p.services__desc уровня развития технологии и поведения конкурентов;
                li.services__item.services__item--reccomends
                    svg(width='67' height='71')
                        use(href='#reccomends')   
                    h5.services__title Рекомендации 
                    p.services__desc  по вопросам заключения лицензионных договоров                           