header .social {
    display: none;
    @media (min-width: 768px) {
        margin-left: auto;
        display: flex;
    }
}

.social {
    display: flex;
    @include list-reset;
}

.social__block {
    @include list-reset;
    display: flex;
    align-items: center;
}

.social__item {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-right: 12px;
    &:last-child {
        padding-right: 0;
        margin-right: 0;
    }
    a {
        display: block;
        font-size: 0;
        border-radius: 50%;
        padding: 0;
    }
    svg {
        fill: #e3e3e3;
    }
}

header .social__item {
    svg {
        fill: $c-blue-500;
    }
}

.social__title {
    display: none;
    @media (min-width: $tablet) {
        display: block;
    }
}
