.header__container.container
    .header__wrapper
        .header__logo
            svg(width='130' height='40')
                use(href="#logo")
        h1.header__title.title Центр поддержки <br> технологий и инноваций        
        a(href="#" style="text-transform: uppercase").header__link.btn.btn--primary Связаться с нами
.header__menu.menu
    .menu__container.container
        ul.menu__list
            li.menu__item
                a(href="#") Услуги ЦПТИ
            li.menu__item
                a(href="#") Информация
            li.menu__item.menu__item--last-child
                a(href="#") Витрина интеллектуальной собственности
            ul.social
                li.social__item.social__item--vk 
                    a(href="#" aria-label="Ссылка на VK") VK
                        svg(width='25' height='25')
                            use(href="#vk-logo")
                li.social__item.social__item--facebook
                    a(href="#" aria-label="Ссылка на Facebook") Facebook
                        svg(width='25' height='25')
                            use(href="#facebook-logo")
                li.social__item.social__item--instagram
                    a(href="#" aria-label="Ссылка на Instagram") Instagram
                        svg(width='25' height='25')
                            use(href="#instagram-logo")        