footer#footer.footer
   .footer__container.container
       p.footer__description
            | По интересующим вопросам в рамках регистрации, правовой охраны и использования РИД обращайтесь по электронной почте

   .footer__bottom
       .footer__container.container
           ul.social.footer__social
               li.social__item.social__item--yt
                   a(href="#" aria-label="Ссылка на VK") VK
                       svg(width='25' height='25')
                           use(href="#yt-logo")
               li.social__item.social__item--vk
                   a(href="#" aria-label="Ссылка на VK") VK
                       svg(width='25' height='25')
                           use(href="#vk-logo")
               li.social__item.social__item--facebook
                   a(href="#" aria-label="Ссылка на Facebook") Facebook
                       svg(width='25' height='25')
                           use(href="#facebook-logo")
               li.social__item.social__item--instagram
                   a(href="#" aria-label="Ссылка на Instagram") Instagram
                       svg(width='25' height='25')
                           use(href="#instagram-logo")
           p.footer__copyright  © 2008-2020 РГСУ. Сделано в РГСУ.
