.information
    .information__container.container
        .information__bottom-wrapper
            .information__col
                h4.information__subtitle.title.title--sub Нормативные документы
                ul.information__list
                    li.information__item
                        a(href="#").information__link Положение о Центре поддержки технологий и инноваций РГСУ
                    li.information__item
                        a(href="#").information__link Гражданский кодекс РФ. Часть 4
                    li.information__item
                        a(href="#").information__link Постановление Правительства РФ от 24 декабря 2007 №928  «О порядке проведения проверки наличия в заявках на выдачу патента на изобретение или полезную модель, созданные в РФ, сведений, составляющих государственную тайну»
                    li.information__item
                        a(href="#").information__link Административный регламент исполнения государственной функции продления срока действия патента
                    li.information__item
                        a(href="#").information__link Документы регламентирующие оформление документов для подачи заявок и т.д
            .information__col
                h4.information__subtitle.title.title--sub Информационные ресурсы
                ul.information__list
                    li.information__item
                        a(href="#").information__link Федеральная служба по интеллектуальной собственности (Роспатент)
                    li.information__item
                        a(href="#").information__link Федеральное государственное бюджетное учреждение «Федеральный институт промышленной собственности» (ФИПС)
                    li.information__item
                        a(href="#").information__link Отделение «Всероссийская патентно-техническая библиотека» (ВПТБ)
                    li.information__item
                        a(href="#").information__link Ссылки на сайты большинства патентных ведомств мира и на сайты международных организаций по интеллектуальной собственности
